<!--@{
    ViewBag.Title = "XML Difference";
}

<h2>XML Difference</h2>

@if (ViewBag.AreEqual)
{
    <p>The XML files are identical.</p>
}
else
{

    <a href="path_to_output.html" target="_blank">View XML Difference</a>-->
    @*<p>The XML files have differences:</p>
    <textarea rows="10" cols="50" readonly>@ViewBag.Diffgram</textarea>*@
<!--}-->